*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    background: #b9c3d4;
    background-image: url(../img/Estadios.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

header{
	width: 100%;
}
h1{
    color: black;
    text-align: center;
    text-size-adjust: unset;
    font-size: 5em;
}
h2{
    text-align: center;
    color: navy;
}
.navegacion{
	width: 1000px;
	margin: 30px auto;
    background: rgb(192, 192, 192);
    border-radius: 120%;
}

img{
    display: block;
    margin: auto;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #a18e8e;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: rgb(253, 250, 250);
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}